/* Main Body Section Start */
.container {
    padding-bottom: 60px;
}
/* Main Body Section End */
/* Header Section Start */
.bg-color-custom {
    background-color: #F0FFF0 !important;
}
.logo-custom {
    width: 198px;
    cursor: pointer;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.0rem;
    padding-left: 2.0rem;
}
.navbar-light .navbar-nav .nav-link {
    font-family: Poppins;
    font-size: 16px;
    color: #000000;
}
.nav-link-custom:hover {
    color: #fff !important;
    background: #21B573;
    border-radius: 33px;
} 
.active>.nav-link-custom {
    color: #fff !important;
    background: #21B573;
    border-radius: 33px;
}
/* Header Section End  */
/* Banner Section Start */
.row {
    margin-top: 150px;
}
.carousel-red-p {
    color: #FD511A;
    line-height: 24px;
}
.carousel-style-custom p {
    font-size: 16px;
    color: #6C6B6B;
    font-size: 16px;
    line-height: 36px;
    padding: 20px 0px;
}
.carousel-style-custom h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
}
.carousel-green-h1 {
    color: #21B573;
}
.carousel-button {
    background: #21B573;
    border-radius: 33px;
    padding: 12px 36px;
    color: #fff;
    margin-top: 10px;
}
/* Banner Section End */
/* Category Section Start */
.category-custom {
    padding: 10px 30px;
    text-align: center;
    background-color: #F8FFFB;
    border-radius: 5px;
}
.category-custom:hover {
    background-color: #fff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.category-custom img, .testimonial-custom img {
    width: 30%;
    height: 30%;
}
.category-custom h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    color: #413960;    
    margin: 15px 0px 0px 0px;
}
.category-custom p, .testimonial-custom p  {
    font-family: Poppins;
    font-size: 16px;
    line-height: 30px;
    color: #585859;
}
/* Category Section End */
/* Courses Section Star */
.courses-custom {
    border-radius: 18px;
}
.card-custom {
    padding: 15px 10px;
    border-radius: 18px;
    border: none;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}
.courses-custom h3, .testimonial-section h3 {
    text-align: center;
    margin: 60px;
    font-weight: 700;
}
.card-button {
    background: #21B573;
    border-radius: 25px;
    padding: 7px 30px;
    color: #fff;
    margin-top: 10px;
}
.card-footer-left img, .card-footer-right img {
    width: 24px;
    height: 24px;
    padding-right: 5px;
}
.card-footer-left p, .card-footer-right p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #585859;
    padding-top: 5px;
}
.courses-custom p {
    font-family: Poppins;
    font-size: 16px;
    line-height: 18px;
    color: #585859;
}
.card-footer-custom {
    padding: 10px 5px;
    background-color:#fff;
    border-top: none;
}
}
/* Courses Section End */
/* Testimonial Section Start */
.testimonial-style p {
    
}
/* Testimonial Section End */

